<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  {% block siteMetas %}
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  {% endblock siteMetas %}
  {% load static %}
  <link rel="shortcut icon" href="{% static "favicon.png" %}" type="image/x-icon">

  <title>
    {% block title %}Farozamart{% endblock title %}
  </title>

  {% block styleSheets %}{% endblock styleSheets %}
</head>

<body>
  {% block header %}{% endblock header %}
  <!-- end hero area -->

  <!-- shop section -->
{% block content %}{% endblock content %}

  <!-- info section -->
{% block footer %}{% endblock footer %}
  <!-- end info section -->

{% block scripts %}{% endblock scripts %}
</body>

</html>