{% extends "home/base.html" %}

{% block title %}Farozamart | Become a seller{% endblock title %}

{% block content %}

<section class="layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Become a seller
      </h2>
    </div>
    {% if user.becomeseller %}
    <h1>Under Review</h1>
    {% else %}
    {% include "home/includes/form.html" with method='POST' action='' submitText='Submit' %}
    {% endif %}
  </div>
</section>

{% endblock content %}