{% extends "home/base.html" %}

{% block title %}Farozamart | Cart{% endblock title %}

{% block content %}

<section class="layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>Cart</h3>
        <table class="table">
          <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
          </thead>
          <tbody>
            {% for cart_item in order.sales.all %}
            <tr>
              <td><a href="{% url "store:listing" id=cart_item.purchase.id %}">{{cart_item.purchase.inventory.name}}</a></td>
              <td>{{cart_item.quantity}}</td>
              <td>{{cart_item.get_sale_price}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <divd class="col-sm-4">
        <h3>Order Summery</h3>
        <table class="table">
          <tr>
            <td>Order ID</td>
            <td>{{order.id}}</td>
          </tr>
          <tr>
            <td>Products</td>
            <td>{{cart_total}} {{cart_currency}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <td>{{cart_total}} {{cart_currency}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="container">
      <center><h3>Payment Method</h3></center>
      {% if options.cod_status == 'ACTIVATED' %}
      <hr>
      <h4>Cash On Delivery</h4>
      <a href="{% url "store:checkout-cod" order=order.id %}" class="btn btn-primary">Checkout</a>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}

{% block scripts %}
{{block.super}}
<script></script>
<script></script>
{% endblock scripts %}