{% extends "home/base.html" %}


{% block title %}Farozamart | {{listing.inventory.name}}{% endblock title %}

    <!-- shop section -->
    {% block content %}
    <section class="shop_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            {{listing.inventory.name}}
          </h2>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="box">
              <a href="">
                <div class="img-box">
                  <img src="{{listing.inventory.picture.url}}" alt="{{listing.inventory.name}}">
                </div>
                <div class="detail-box">
                  <h6>
                    {{listing.inventory.name}}
                  </h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-9">
            {% include "store/forms/listing.html" %}
          </div>
        </div>

        <section class="box">
          <h5>Product images</h5>
          <div class="row">
            {% for image in listing.inventory.images.all %}
            <div class="col-6 col-sm-3">
              <img src="/media/{{image}}" alt="{{image}}" style="width:100%;" />
            </div>
            {% endfor %}
          </div>
        </section>

        <section class="box">
          <h5>Description</h5>
          <p>{{listing.inventory.description}}</p>
        </section>
      </div>
    </section>
  {% endblock %}  