
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Resales</h3>
    <a href="{% url "store:resale-purchases" %}" class="btn btn-primary mx-2">Resale Purchases</a>
    <div class="box-tools">
      <div class="input-group">
        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th></th>
        <th>Resale Price</th>
        <th>Sale Price</th>
        <th></th>
      </tr>
      {% for resale in resales %}
      <tr>
        <td>{{resale.id}}</td>
        <td>{{resale.purchase.inventory.name}}</td>
        <td><img src="{{resale.purchase.inventory.picture.url}}" alt="{{resale.purchase.inventory.name}}" height=50/></td>
        <td>{{resale.purchase.get_resale_price}}</td>
        <td>{{resale.get_sale_price}}</td>
        <td>
          <a href="{% url "store:delete-resale" id=resale.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->