
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Sales</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Order ID</th>
        <th>Inventory</th>
        <th>Quantity</th>
        <th>Sale Price</th>
        <th></th>
      </tr>
      {% for sale in sales %}
      <tr>
        <td>{{sale.id}}</td>
        <td>{{sale.order.id}}</td>
        <td>{{sale.purchase.inventory.name}}</td>
        <td>{{sale.quantity}}</td>
        <td>{{sale.get_sale_price}}</td>
        <td>
          <a href="" class="btn btn-primary">View Order</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->