
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Withdraws</h3>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Approved</th>
      </tr>
      {% for wallet in user.store.wallets.all %}
      {% for withdraw in wallet.withdraws.all %}
      <tr>
        <td>{{withdraw.id}}</td>
        <td>{{withdraw.amount}}</td>
        <td>{{wallet.currency.code}}</td>
        <td>{{withdraw.approved}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->