{% extends "dashboard/base.html" %}

{% block title %}Farozamart | Steadfast Configuration{% endblock title %}

{% block contentHeader %}
<h1>
  Steadfast Configuration
</h1>
<ol class="breadcrumb">
  <li><a href="{% url "dashboard:dashboard" %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  <li class="active">Steadfast Configuration</li>
</ol>
{% endblock contentHeader %}

{% block content %}
{% include "includes/form.html" with method='POST' submitText='Save' action='' %}
{% endblock content %}