{% if messages %}
<div style="position: relative;">
  <!-- Position it -->
  <div style="position: absolute; top: 0; right: 0;">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}