<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li class="{{sidebar_menu_dashboard_class}}">
    <a href="{% url "dashboard:dashboard" %}">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li>

  {% if user.profile.is_seller %}
  <li class="header">SELLER</li>
  <li class="{{sidebar_menu_inventory_class}}">
    <a href="{% url "store:inventory" %}">
      <i class="fa fa-shopping-cart"></i> <span>Inventory</span>
    </a>
  </li>
  <li class="{{sidebar_menu_purchases_class}}">
    <a href="{% url "store:purchases" %}">
      <i class="fa fa-shopping-cart"></i> <span>Purchases</span>
    </a>
  </li>
  <li class="{{sidebar_menu_resale_purchases_class}}">
    <a href="{% url "store:resale-purchases" %}">
      <i class="fa fa-shopping-cart"></i> <span>Resale Purchases</span>
    </a>
  </li>
  <li class="{{sidebar_menu_sales_class}}">
    <a href="{% url "store:sales" %}">
      <i class="fa fa-shopping-cart"></i> <span>Sales</span>
    </a>
  </li>
  <li class="{{sidebar_menu_steadfast_class}}">
    <a href="{% url "dropshipping:steadfast-delivery" %}">
      <i class="fa fa-shopping-cart"></i> <span>Steadfast Delivery</span>
    </a>
  </li>
  {% endif %}

  {% if user.is_staff %}
  <li class="header">STAFF</li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-gear"></i>
      <span>Settings</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="{% url "dashboard:general-settings" %}"><i class="fa fa-circle-o"></i> General</a></li>
      <li><a href="{% url "store:currencies" %}"><i class="fa fa-circle-o"></i> Currencies</a></li>
      <li><a href="{% url "dropshipping:steadfast-configuration" %}"><i class="fa fa-circle-o"></i> Steadfast Configuration</a></li>
    </ul>
  </li>
  {% endif %}

  <li class="header">PROFILE</li>
  <li>
    <a href="{% url "accounts:profile" %}">
      <i class="fa fa-user"></i> <span>User Profile</span>
    </a>
  </li>
</ul>