<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <li class="{{sidebar_menu_dashboard_class}}">
    <a href="{% url "dashboard:dashboard" %}">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a href="/">
      <i class="glyphicon glyphicon-home"></i> <span>Back To Site</span>
    </a>
  </li>

  {% if user.profile.is_seller %}
  <li class="header">SELLER</li>
  <li class="{{sidebar_menu_inventory_class}}">
    <a href="{% url "store:inventory" %}">
      <i class="glyphicon glyphicon-briefcase"></i> <span>Inventory</span>
    </a>
  </li>
  <li class="{{sidebar_menu_categories_class}}">
    <a href="{% url "store:categories" %}">
      <i class="glyphicon glyphicon-th"></i> <span>Categories</span>
    </a>
  </li>
  <li class="{{sidebar_menu_purchases_class}}">
    <a href="{% url "store:purchases" %}">
      <i class="glyphicon glyphicon-tags"></i> <span>Purchases</span>
    </a>
  </li>
  <li class="{{sidebar_menu_sales_class}}">
    <a href="{% url "store:sales" %}">
      <i class="glyphicon glyphicon-credit-card"></i> <span>Sales</span>
    </a>
  </li>
  <li class="{{sidebar_store_accounts_class}}">
    <a href="{% url "store:store-accounts" %}">
      <i class="glyphicon glyphicon-credit-card"></i> <span>Store Accounts</span>
    </a>
  </li>
  <!--<li class="{{sidebar_menu_steadfast_class}}">
    <a href="{% url "dropshipping:steadfast-delivery" %}">
      <i class="fa fa-shopping-cart"></i> <span>Steadfast Delivery</span>
    </a>
  </li>-->
  {% endif %}

  {% if user.profile.is_reseller %}
  <li class="header">RESELLER</li>
  <li class="{{sidebar_menu_resales_class}}">
    <a href="{% url "store:resales" %}">
      <i class="fa fa-suitcase"></i> <span>Resales</span>
    </a>
  </li>
  <li class="{{sidebar_menu_resale_purchases_class}}">
    <a href="{% url "store:resale-purchases" %}">
      <i class="glyphicon glyphicon-tags"></i> <span>Resale Purchases</span>
    </a>
  </li>
  <li class="{{sidebar_user_accounts_class}}">
    <a href="{% url "store:user-accounts" %}">
      <i class="glyphicon glyphicon-credit-card"></i> <span>User Accounts</span>
    </a>
  </li>
  <!--<li class="{{sidebar_menu_steadfast_class}}">
    <a href="{% url "dropshipping:steadfast-delivery" %}">
      <i class="fa fa-shopping-cart"></i> <span>Steadfast Delivery</span>
    </a>
  </li>-->
  {% endif %}

  {% if user.is_staff %}
  <li class="header">STAFF</li>
  <li class="{{sidebar_menu_staff_orders_class}}">
    <a href="{% url "store:staff-orders" %}">
      <i class="fa fa-shopping-cart"></i> <span>Orders</span>
    </a>
  </li>
  <li class="{{sidebar_menu_staff_withdraws_class}}">
    <a href="{% url "store:staff-withdraws" %}">
      <i class="fa fa-shopping-cart"></i> <span>Withdraws</span>
    </a>
  </li>
  <li class="{{sidebar_menu_staff_receiving_accounts_class}}">
    <a href="{% url "store:staff-receiving-accounts" %}">
      <i class="fa fa-shopping-cart"></i> <span>Receiving Accounts</span>
    </a>
  </li>
  <li class="{{sidebar_menu_staff_sellers_class}}">
    <a href="{% url "store:staff-sellers" %}">
      <i class="glyphicon glyphicon-gift"></i> <span>Sellers</span>
    </a>
  </li>
  <li class="{{sidebar_menu_staff_resellers_class}}">
    <a href="{% url "store:staff-resellers" %}">
      <i class="glyphicon glyphicon-gift"></i> <span>Resellers</span>
    </a>
  </li>
  <li class="{{sidebar_menu_users_class}}">
    <a href="{% url "store:staff-users" %}">
      <i class="glyphicon glyphicon-gift"></i> <span>Users</span>
    </a>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-gear"></i>
      <span>Settings</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="{% url "dashboard:general-settings" %}"><i class="fa fa-circle-o"></i> General</a></li>
      <li><a href="{% url "dashboard:mailing-settings" %}"><i class="fa fa-circle-o"></i> Mailing Settings</a></li>
      <li><a href="{% url "store:currencies" %}"><i class="fa fa-circle-o"></i> Currencies</a></li>
      <li><a href="{% url "dropshipping:steadfast-configuration" %}"><i class="fa fa-circle-o"></i> Steadfast Configuration</a></li>
      <li><a href="{% url "paymentgateway:cod-payment" %}"><i class="fa fa-circle-o"></i> COD Payment</a></li>
    </ul>
  </li>
  {% endif %}

  <li class="header">PROFILE</li>
  <li>
    <a href="{% url "accounts:profile" %}">
      <i class="fa fa-user"></i> <span>User Profile</span>
    </a>
  </li>
</ul>