
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Orders</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Cost</th>
          <th>Status</th>
          <th></th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.user.profile.full_name}}</td>
          <td>{{order.total_cost}}</td>
          <td>{{order.status}}</td>
          <td>
            {% if order.status == 'PENDING' %}
            <a href="{% url "store:staff-comfirm-order" id=order.id %}" class="btn btn-success">Comfirm</a>
            <a href="{% url "store:staff-decline-order" id=order.id %}" class="btn btn-danger">Decline</a>
            {% endif %}
            <a href="{% url "store:staff-order" id=order.id %}" class="btn btn-primary">View Order</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div><!-- /.box-body -->
  </div>
</div><!-- /.box -->