
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Seller Requests</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Reseller</th>
        <th></th>
      </tr>
      {% for reseller_request in reseller_requests %}
      <tr>
        <td>{{reseller_request.id}}</td>
        <td>{{reseller_request.user.profile.full_name}}</td>
        <td><a class="btn btn-primary" href="{% url "store:staff-approve-reseller" pk=reseller_request.id %}">Approve</a></td>
      </tr>
      {% endfor %}
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->