
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Seller Requests</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Seller</th>
        <th>Store</th>
        <th></th>
      </tr>
      {% for seller_request in seller_requests %}
      <tr>
        <td>{{seller_request.id}}</td>
        <td>{{seller_request.user.profile.full_name}}</td>
        <td>{{seller_request.name}}</td>
        <td>
          <a class="btn btn-primary" href="{% url "store:staff-seller-request" pk=seller_request.id %}">View</a>
          <a class="btn btn-success" href="{% url "store:staff-approve-seller" pk=seller_request.id %}">Approve</a>
          <a class="btn btn-danger" href="{% url "store:staff-decline-seller" pk=seller_request.id %}">Decline</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->