<div class="box">
  <div class="box-header">
    <h3 class="box-title">Withdraws</h3>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Currency</th>
      </tr>
      {% for withdraw in withdraws %}
      {% if withdraw.approved %}
      <tr>
        <td>{{withdraw.id}}</td>
        <td>{{withdraw.amount}}</td>
        <td>{{withdraw.wallet.currency.code}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->