{% extends "dashboard/base.html" %}

{% block title %}{{block.super}} | Dashboard - Order {{order.id}}{% endblock title %}

{% block contentHeader %}
<h1>
  Order {{order.id}}
</h1>
<ol class="breadcrumb">
  <li><a href="{% url "dashboard:dashboard" %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  <li><a href="{% url "store:staff-orders" %}"><i class="fa fa-dashboard"></i> Orders</a></li>
  <li class="active">Order {{order.id}}</li>
</ol>
{% endblock contentHeader %}

{% block content %}
{% include "store/tables/staff/staff-order.html" %}
{% endblock content %}