{% extends "dashboard/base.html" %}

{% block title %}{{block.super}} | Dashboard - Withdraws{% endblock title %}

{% block contentHeader %}
<h1>
  Withdraws
</h1>
<ol class="breadcrumb">
  <li><a href="{% url "dashboard:dashboard" %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>-->
  <li class="active">Withdraws</li>
</ol>
{% endblock contentHeader %}

{% block content %}
{% include "store/tables/staff/withdraw-requests.html" %}
{% include "store/tables/staff/withdraws.html" %}
{% endblock content %}