{% extends "dashboard/base.html" %}

{% block title %}{{block.super}} | Dashboard - COD Payment{% endblock title %}

{% block contentHeader %}
<h1>
  COD Payment
</h1>
<ol class="breadcrumb">
  <li><a href="{% url "dashboard:dashboard" %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  <li class="active">COD Payment</li>
</ol>
{% endblock contentHeader %}

{% block content %}
{% include "includes/form.html" with method='POST' action='' submitText='Save' %}
{% endblock content %}